.item {
  margin: 1rem 0;
}

.flexcontent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 1rem;
}

.content h2 {
  display: flex;
  text-align: center;
  padding: 1rem;
}

.content h3 {
  display: flex;
  text-align: center;
  padding: 1rem;
}


.actions {
  display: flex;
  padding: 1rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color:  #1a2920;
  border: 1px solid #706d6e;
  background-color: transparent;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}